.h-primary{
    font-size: 2.8rem;
}
.h-secondary{
    font-size: 2rem;
}

/* navigation */

#navbar{
    flex-direction: column;
    top: -60px;
}

#logo img {
    height: 45px;
    margin: 5px autopx;
    border-radius: 20px;
}


.navitems li {
    margin: 5px;

}

.navitems a {
    padding: 10px 10px;
    font-size: 1rem;
}

/* home */

#home{
height: 88vh;
}
/* #home::before{
    height: 80vh;
} */
#home p, #home .btn{
    font-size: 1.3rem;
}

/* Services */

#services{
    flex-direction: column;
}
#services .box{
    width: 80%;
}
#services .box img{
    width: 50%;
}
#services p{
    font-size: 1.2rem;
}

/* clients */
#clients{
    flex-wrap: nowrap;
    overflow: auto;
  white-space: nowrap;
}

#client .client-item{
  
}

#clients img{
    height: 70px;
}

/* contact us */

#contact-box form{
    width: 80%;    
}